@import url('https://fonts.googleapis.com/css?family=Inter');

$tablet: 768 px;
$mobile: 480 px;


body{
    margin: 0;
    position: relative;
}

.nav {
    position: relative;
    background-color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    box-shadow: 0rem 0.1rem 2rem rgba(7, 143, 163, 0.25)
}

.site-name {
    display: flex;
    font-size:3rem;
    font-weight: 900;
    text-align: center;
    align-items: center;
    gap: 0.8rem;
}

.site-name img {
    width: 3.5rem;
    border-radius: 50%;
    
}
.nav a{
    color: white;
    text-decoration: none;
}

.nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.sign-up {
    padding: 0.2rem;
    background-color: white;
    border-radius: 2rem;
    width: 4rem;
}

.nav div {
    text-align: center;
    color: black;
}

.middle li:hover {
    color:#7b67fe;
    transform: scale(1.1);
}

.login:hover {
    color:#7b67fe;
    transform: scale(1.1);
}

.sign-up:hover {
    transform: scale(1.1);
}
.footer{
    background-color: #111417;
    padding: 1.5rem 0rem 0.1rem;
    font-family: 'Inter';
    font-size: small;
    text-align: center;
    color: #D9D9D9;
  }

.footer a{
    text-decoration: none;
    color: rgb(42, 97, 103);
    font-weight:lighter;
}

.footer a:hover {
    color:#7b67fe;
}

/*.footer img {
    align-items:center;
}*/

.background {
    width: 100%;
    box-shadow: 0rem 0.1rem 2rem rgba(7, 143, 163, 0.25);
    margin-bottom: -1rem;
}

.main p{
    position: absolute;
    width: 40rem;
    line-height: 4.5rem;
    top: 8rem;
    left: 3rem;
    font-family: 'Inter';
    font-size: 4.5rem;
    font-weight:lighter;
    color: white;
}

form{
    position: absolute;
    top: 38rem;
    left: 3rem;
}

button{
    position: absolute;
    left: 72.3%;
    top: 0.08rem;
    width: 10rem;
    height: 5.3rem;
    border-radius: 2rem;
    background-color: #D9D9D9;
    color: black;
    font-size: 2rem;
    font-family: 'Inter';
    font-weight: bolder;
    text-shadow: 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
    border: 0;
    outline: none;
}

button:hover {
    transform: scale(1.03);
}


#email {
    width: 32rem;
    height: 5rem;
    padding: 0rem 2rem 0rem;
    border-radius: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    background: black;
    color: rgb(255, 255, 255); 
    border-color: white;
    border-width: 0.25rem;
    border-style: solid;
}

::placeholder {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: 'Inter';
    font-weight: lighter;
    opacity: 0.5;
  }
  
@media only screen and (max-width: 768px){
    .site-name{
        display: none;
    }
    .site-name img{
        width: 1rem !important;
    }
    
    
}