@import url('https://fonts.googleapis.com/css?family=Inter');

body{
    margin: 0;
}

.nav {
    background-color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
}

.site-name {
    display: flex;
    font-size:3rem;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    gap: 0.8rem;
}

.site-name img {
    width: 3.5rem;
    border-radius: 50%;
    
}
.nav a{
    color: white;
    text-decoration: none;
}

.nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.sign-up {
    padding: 0.2rem;
    background-color: white;
    border-radius: 2rem;
    width: 4rem;
}

.nav div {
    text-align: center;
    color: black;
}

.middle li:hover {
    color:dimgray;
    transform: scale(1.1);
}

.login:hover {
    color:dimgray;
    transform: scale(1.1);
}

.sign-up:hover {
    transform: scale(1.1);
}

.background {
    width: 100%;
}
